{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %} | Story 3</title>
    <style>
        .pc-only{
            display:block;
        }
        .navbar-container{
            position:fixed;
            top:0;
            left:0;
            z-index:2;
            width:100%;
            background:#1B5299;
        }
        .navbar{
            display:flex;
            justify-content:space-between;
        }
        .navbar .nav-links{
            display:flex;
            align-items:center;
        }
        .nav-links .nav-link{
            margin:0 1.75rem;
        }
        .navbar{
            padding:1.5625rem 1.875rem;
        }
        .nav-link a{
            font-size:1.5rem;
            font-weight:600;
            text-decoration:none;
            color:#EFF7FF;
        }
        .nav-link:last-child{
            margin-right:0;
        }
        .nav-link:first-child{
            margin-left:0;
        }
        .content{
            margin-top:106px;
        }
        .mobile{
            display:none;
        }
        footer{
            background:#1B5299;
            color:#EFF7FF;
            padding:5rem 0;
        }
        .top-footer{
            margin:0 10rem;   
        }
        .socials{
            display:flex;
        }
        .socials .social-link{
            width:50px;
            margin:0 20px;
            height:50px;
        }
        .socials .social-link:first-child{
            margin-left:0;
        }
        .top-footer .interested{
            margin-bottom:0.5rem;
        }
        .top-footer h3{
            margin-bottom:1rem;
        }
        .socials .social-link:last-child{
            margin-right:0;
        }
        .socials .social-link img{
            width:100%;
            height:100%;
        }
        .socials .social-link:hover{
            padding-bottom:0.5rem;
        }
        @media (max-width:768px){
            .top-footer{
                margin:0 auto;
                width:90%;
            }
            .brand-container{
                display:flex;
                align-items:center;
            }
            .navbar .brand-container a img {
                width:50px;
                height:auto;
            }
            .nav-link a{
                font-size:1rem;
            }
            .content{
                margin-top:113px;
            }
            .mobile{
                display:block;
            }
            .pc-only{
                display:none !important;
            }
            .burger-button, .close-button{
                background:none;
                border:none;
                padding:0.5rem;
            }
            .burger-button img, .close-button img{
                width:50px;
                height:50px;
            }
            .burger-button.active, .close-button.active{
                display:block;
            }
            .burger-button.inactive, .close-button.inactive{
                display:none;
            }
            .burger-content{
                position:fixed;
                width:100%;
            }
            .burger-content.inactive{
                max-height:0;
                overflow:hidden;
                transition: max-height 0.15s ease-out;
            }
            .burger-content.active{
                max-height:fit-content;
                transition: max-height 0.25s ease-in;
            }
            .nav-links{
                background:#1B5299;
            }
            .nav-links .nav-link:first-child, .nav-links .nav-link, .nav-links .nav-link:last-child{
                margin:0 1.75rem;
                padding:2rem 0;
            }
            .nav-links .nav-link a{
                font-size:2rem;
            }
            
        }
        @media (max-width:400px){
            .socials{
                justify-content:space-around;
            }
        }
    </style>
</head>
<body>
    <div class="navbar-container">
        <nav class="navbar">
            <div class="brand-container">
                <a href="/">
                    <img src="{% static 'Logo.png' %}">
                </a>
            </div>
            <ul class="nav-links pc-only">
                <li class="nav-link"><a href="/about">About</a></li>
                <li class="nav-link"><a href="/experience">Experience</a></li>
                <li class="nav-link"><a href="/projects">Projects</a></li>
                <li class="nav-link"><a href="#footer">Contact</a></li>
            </ul>
            <button class="burger-button mobile active" onClick="openBurger()" id="burger-button">
                <img src="{% static 'BurgerIcon.png' %}">
            </button>
            <button class="close-button mobile inactive" onClick="closeBurger()" id="close-button">
                <img src="{% static 'close-button.png' %}">
            </button>
        </nav>
    </div>
    <div class="content">
        <div class="burger-content mobile inactive" id="burger-content">
            <ul class="nav-links mobile">
                <li class="nav-link"><a href="/about">About</a></li>
                <li class="nav-link"><a href="/experience">Experience</a></li>
                <li class="nav-link"><a href="/projects">Projects</a></li>
                <li class="nav-link"><a href="/contact">Contact</a></li>
            </ul>
        </div>
        {% block body %}
        {% endblock %}
    </div>
    
        <footer class="footer-contact">
            <div class="top-footer">
                <h1 class="interested">Interested in contacting me?</h1>
                <h3>Check my contacts down below:</h3>
                <a name="footer">
                    <ul class="socials">
                        <li class="social-link"><a href="https://www.linkedin.com/in/mario-serano-b3a121194/"><img src="{% static 'linkedin.png' %}"></a></li>
                        <li class="social-link"><a href="https://twitter.com/ngausakepo"><img src="{% static 'twitter.png' %}"></a></li>
                        <li class="social-link"><a href="https://instagram.com/rockattmario"><img src="{% static 'instagram.png'%}"></a></li>
                    </ul>
                </a>
            </div>
        </footer>
    <script type="text/javascript">
        function openBurger(){
            document.getElementById("burger-content").className = "burger-content mobile active";
            document.getElementById("burger-button").className = "burger-button mobile inactive";
            document.getElementById("close-button").className = "close-button mobile active"
        }
        function closeBurger(){
            document.getElementById("burger-content").className = "burger-content mobile inactive";
            document.getElementById("burger-button").className = "burger-button mobile active";
            document.getElementById("close-button").className = "close-button mobile inactive";
        }
    </script>
</body>
</html>