{% extends 'template.html' %}
{% load static %}

{% block title %}
    About Me
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'all_styles.css' %}">
{% endblock %}

{% block body %}
    <section class="second-section" style="padding:5rem 0;">
        <h1 class="title">
            about me
        </h1>
        <div class="second-section-content">
            <div class="image-placeholder">
                <img src="{% static 'maroon-shirt.png' %}">
            </div>
            <div class="second-section-texts">
                <h1 class="hello-world">Hello&#44; world&#33;</h1>
                <h2 class="description">
                    My name is <span class="red">Mario</span>&#44; a Sophomore in <br/>
                    <span class="red">University of Indonesia&#46;</span><br><br>

                    Currently&#44; learning concepts of<br/><span class="red">Computer Science</span> and applying <br/>
                    those knowledge into <span class="red">practical field&#46;</span><br/><br/>

                    Although&#44; currently learning <span class="red">Web<br/> Development</span>&#44; as I have learned&#58;
                </h2>
                <div class="image-stacks">
                    <img src="{% static 'stacks.png' %}">
                </div>
                <h1 class="many-more">&#46;&#46;&#46;and many more&#33;</h1>
            </div>
        </div>
    </section>
{% endblock %}