{% extends 'template.html' %}

{% load static %}

{% block title %}
    Homepage
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'all_styles.css' %}">
{% endblock %}
{% block body %}
    <section class="first-section">
        <div class="placeholder-all">
            <div class="hero-image pc-only">
                <img src="{% static 'Foto.png' %}">
            </div>
            <div class="hero-texts">
                <h1 class="hi">Hi!<br><span class="im">I&apos;m</span> <span class="name">Mario</span></h1>
                <h2>Student&#44;</h2>
                <h2>Entrepreneur&#44;</h2>
                <h2>Developer&#44;</h2>
            </div>
            <div class="hero-image mobile">
                <img src="{% static 'Foto.png' %}">
            </div>
        </div>
    </section>
    <section class="second-section">
        <h1 class="title">
            about me
        </h1>
        <div class="second-section-content">
            <div class="image-placeholder">
                <img src="{% static 'maroon-shirt.png' %}">
            </div>
            <div class="second-section-texts">
                <h1 class="hello-world">Hello&#44; world&#33;</h1>
                <h2 class="description">
                    My name is <span class="red">Mario</span>&#44; a Sophomore in <br/>
                    <span class="red">University of Indonesia&#46;</span><br><br>

                    Currently&#44; learning concepts of<br/><span class="red">Computer Science</span> and applying <br/>
                    those knowledge into <span class="red">practical field&#46;</span><br/><br/>

                    Although&#44; currently learning <span class="red">Web<br/> Development</span>&#44; as I have learned&#58;
                </h2>
                <div class="image-stacks">
                    <img src="{% static 'stacks.png' %}">
                </div>
                <h1 class="many-more">&#46;&#46;&#46;and many more&#33;</h1>
            </div>
        </div>
    </section>
    <section class="third-section">
        <div class="third-section-wrapper">
            <h1 class="title third-section-title">
                experience
            </h1>
            <div class="third-section-content">
                <div class="top">
                    {% for content in content_section_three %}
                    {% if content.slug == "COMPFEST" %}
                    <div class="description-paragraph active" id="{{ content.slug }}_paragraph">
                        <div class="description-title">
                            {{ content.slug }}
                        </div>
                        <div class="description-text">
                            {% for paragraph in content.paragraphs %}
                                <p class="paragraph">
                                    {{ paragraph }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <div class="description-paragraph inactive" id="{{ content.slug }}_paragraph">
                        <div class="description-title">
                            {{ content.slug }}
                        </div>
                        <div class="description-text">
                            {% for paragraph in content.paragraphs %}
                                <p class="paragraph">
                                    {{ paragraph }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="pc-only">
        
                        {% if content.slug == "COMPFEST" %}
                        <div class="experience-photo active" id="{{ content.slug }}_photo">
                            <img src="{% static 'compfest.png' %}">
                        </div>
                        {% elif content.slug == "PERAK" %}
                        <div class="experience-photo inactive" id="{{ content.slug }}_photo">
                            <img src="{% static 'perak.png' %}">
                        </div>
                        {% elif content.slug == "BETIS" %}
                        <div class="experience-photo inactive" id="{{ content.slug }}_photo">
                            <img src="{% static 'betis.png' %}">
                        </div>
                        {% elif content.slug == "CEDSUI" %}
                        <div class="experience-photo inactive" id="{{ content.slug }}_photo">    
                            <img src="{% static 'ceds.png' %}">
                        </div>
                        {% endif %}
                    </div>

                    {% endfor %}
                </div>
                <div class="bottom">
                    <button class="experience-profile active" onClick="triggerButton('COMPFEST')" id="COMPFEST_button">
                        <img src="{% static 'compfest.png' %}" alt="">
                    </button>
                    <button class="experience-profile inactive" onClick="triggerButton('CEDSUI')" id="CEDSUI_button"><img src="{% static 'ceds.png' %}"></button>
                    <button class="experience-profile inactive" onClick="triggerButton('BETIS')" id="BETIS_button"><img src="{% static 'betis.png' %}"></button>
                    <button class="experience-profile inactive" onClick="triggerButton('PERAK')" id="PERAK_button"><img src="{% static 'perak.png' %}"></button>
                </div>
            </div>
        </div>
    </section>
    <section class="fourth-section">
        <div class="third-section-wrapper">
            <h1 class="title third-section-title">
                projects
            </h1>
            <div class="third-section-content">
                <div class="top">
                    {% for content in content_section_four %}
                    {% if content.slug == "STREAMLINE" %}
                    <div class="description-paragraph active" id="{{ content.slug }}_paragraph">
                        <div class="description-title">
                            {{ content.slug }}
                        </div>
                        <div class="description-text">
                            {% for paragraph in content.paragraphs %}
                                <p class="paragraph">
                                    {{ paragraph }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <div class="description-paragraph inactive" id="{{ content.slug }}_paragraph">
                        <div class="description-title">
                            {{ content.slug }}
                        </div>
                        <div class="description-text">
                            {% for paragraph in content.paragraphs %}
                                <p class="paragraph">
                                    {{ paragraph }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="pc-only">
        
                        {% if content.slug == "STREAMLINE" %}
                        <div class="experience-photo active" id="{{ content.slug }}_photo">
                            <img src="{% static 'streamline.png' %}">
                        </div>
                        {% elif content.slug == "SEKELAS" %}
                        <div class="experience-photo inactive" id="{{ content.slug }}_photo">
                            <img src="{% static 'sekelas.svg' %}">
                        </div>
                        {% endif %}
                    </div>

                    {% endfor %}
                </div>
                <div class="bottom">
                    <button class="experience-profile active" onClick="triggerFourthButton('STREAMLINE')" id="STREAMLINE_button">
                        <div class="experience-profile-wrapper">
                            <img src="{% static 'streamline.png' %}" alt="">
                        </div>
                    </button>
                    <button class="experience-profile inactive" onClick="triggerButton('SEKELAS')" id="SEKELAS_button">
                        <div class="experience-profile-wrapper">
                            <img src="{% static 'sekelas.svg' %}">
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        const ALL_SLUG = ["COMPFEST", "PERAK", "BETIS", "CEDSUI"]
        const ALL_CONTENT_SLUG = ["SEKELAS", "STREAMLINE"]
        function triggerButton(slug){
            // aduh ngakak ini bodoh banget
            for(var i =0; i<ALL_SLUG.length;i++){
                if(slug === ALL_SLUG[i]){
                    document.getElementById(slug + "_paragraph").className = "description-paragraph active";
                    document.getElementById(slug + "_photo").className = "experience-photo active"
                    document.getElementById(slug +  "_button").className = "experience-profile active"
                } else{
                    document.getElementById(slug + "_paragraph").className = "description-paragraph inactive";
                    document.getElementById(slug + "_photo").className = "experience-photo inactive"
                    document.getElementById(slug +  "_button").className = "experience-profile inactive"
                }
            }
        }    
        function triggerFourthButton(slug){
            for (var i =0; i < ALL_CONTENT_SLUG.length; i++){
                if(slug === ALL_CONTENT_ZSLUG[i]){
                    document.getElementById(slug + "_paragraph").className = "description-paragraph active";
                    document.getElementById(slug + "_photo").className = "experience-photo active"
                    document.getElementById(slug +  "_button").className = "experience-profile active"
                } else{
                    document.getElementById(slug + "_paragraph").className = "description-paragraph inactive";
                    document.getElementById(slug + "_photo").className = "experience-photo inactive"
                    document.getElementById(slug +  "_button").className = "experience-profile inactive"
                }
            }
        }
    </script>
{% endblock %}